autopep8
cupy-cuda102
cycler
GitPython
jedi
numpy
numpydoc
pandas
pclwrapper
scikit-image
scipy
Sphinx
torch
torchfile
torchnet
torchvision
nuscenes-devkit
numba
dill
shapely
pyperclip
numba
fastdist
networkx